/hermes/db.sqlite3
/hermes/tests/__pycache__
/hermes/hermes/__pycache__
/olympvenv
/hermes/node_modules
/hermes/package-lock.json
/hermes/package.json
/hermes/dbmanager/__pycache__
/hermes/.env
/env
*.env
/hermes/tests/components/__pycache__