/hermes/db.sqlite3
/hermes/tests/__pycache__
/hermes/hermes/__pycache__
/olympvenv
/hermes/node_modules
/hermes/package-lock.json
/hermes/package.json
/hermes/.env
/env
*.env
/hermes/tests/components/__pycache__
/Olymp.code-workspace
/hermes/tests/migrations/__pycache__
/hermes/static
/.cursor
/.cursor/rules
/.cursor/rules/stack.mdc
React/rules
React/rules/stack.mdc
hermes/env.production
nginx/ssl/cert.pem
nginx/ssl/key.pem
