{% extends "base.html" %}
{% block title %}
Adjudicator Dashboard - HERMES
{% endblock title %}
{% block content %}
<section class="section">
   <div class="container">
      <h2 class="title">Adjudicator Dashboard</h2>
      {% if active_test %}
      <div class="notification is-info">
         Current Active Test: {{ active_test.name }} (Team: {{ active_test.team.name|default:"No Team" }})
      </div>
      {% endif %}
      <div class="columns is-mobile is-multiline">
         <div class="column is-half-mobile is-one-third-tablet">
            <a href="{% url 'ladder_test' %}" class="card has-background-grey-lighter">
               <div class="card-content">
                  Ladder Test
               </div>
            </a>
         </div>
         <div class="column is-half-mobile is-one-third-tablet">
            <a href="{% url 'brace_test' %}" class="card has-background-grey-lighter">
               <div class="card-content">
                  Brace Test
               </div>
            </a>
         </div>
         <div class="column is-half-mobile is-one-third-tablet">
            <a href="{% url 'hexagon_test' %}" class="card has-background-grey-lighter">
               <div class="card-content">
                  Hexagon Test
               </div>
            </a>
         </div>
         <div class="column is-half-mobile is-one-third-tablet">
            <a href="{% url 'medicimbal_test' %}" class="card has-background-grey-lighter">
               <div class="card-content">
                  Medicimbal Test
               </div>
            </a>
         </div>
         <div class="column is-half-mobile is-one-third-tablet">
            <a href="{% url 'y_test' %}" class="card has-background-grey-lighter">
               <div class="card-content">
                  Y Test
               </div>
            </a>
         </div>
         <div class="column is-half-mobile is-one-third-tablet">
            <a href="{% url 'triple_jump_test' %}" class="card has-background-grey-lighter">
               <div class="card-content">
                  Triple Jump Test
               </div>
            </a>
         </div>
         <div class="column is-half-mobile is-one-third-tablet">
            <a href="{% url 'jet_test' %}" class="card has-background-grey-lighter">
               <div class="card-content">
                  Jet Test
               </div>
            </a>
         </div>
         <div class="column is-half-mobile is-one-third-tablet">
            <a href="{% url 'beep_test' %}" class="card has-background-grey-lighter">
               <div class="card-content">
                  Beep Test
               </div>
            </a>
         </div>
         <div class="column is-half-mobile is-one-third-tablet">
            <a href="{% url 'add_profile' %}" class="card has-background-grey-lighter">
               <div class="card-content">
                  Add Profile
               </div>
            </a>
         </div>
         <div class="column is-half-mobile is-one-third-tablet">
            <a href="{% url 'profile_list' %}" class="card has-background-grey-lighter">
               <div class="card-content">
                  Profile List
               </div>
            </a>
         </div>
         <div class="column is-half-mobile is-one-third-tablet">
            <a href="{% url 'results' %}" class="card has-background-grey-lighter">
               <div class="card-content">
                  Results
               </div>
            </a>
         </div>
         <div class="column is-half-mobile is-one-third-tablet">
            <a href="{% url 'recalculate_scores' %}" class="card has-background-grey-lighter">
               <div class="card-content">
                  Recalculate Scores
               </div>
            </a>
         </div>
      </div>
      <hr>
      <h3 class="title is-4">Administrative Tools</h3>
      <div class="columns is-mobile is-multiline">
         {% if user.is_superuser %}
         <div class="column is-half-mobile is-one-third-tablet">
            <a href="{% url 'manage_teams' %}" class="card has-background-grey-lighter">
               <div class="card-content">
                  Manage Teams
               </div>
            </a>
         </div>
         {% endif %}
         {% if user.groups.all.0.name == 'Foreign Admin' or user.is_superuser %}
         <div class="column is-half-mobile is-one-third-tablet">
            <a href="{% url 'manage_active_tests' %}" class="card has-background-grey-lighter">
               <div class="card-content">
                  Manage Active Tests
               </div>
            </a>
         </div>
         <div class="column is-half-mobile is-one-third-tablet">
            <a href="{% url 'manage_adjudicators' %}" class="card has-background-grey-lighter">
               <div class="card-content">
                  Manage Adjudicators
               </div>
            </a>
         </div>
         {% endif %}
      </div>
   </div>
</section>
{% endblock content %}