{% extends "base.html" %}
{% block content %}
    <div class="container">
        <h1>Recalculate Scores</h1>
        {% if messages %}
            <div class="messages">
                {% for message in messages %}<div class="alert alert-{{ message.tags }}">{{ message }}</div>{% endfor %}
            </div>
        {% endif %}
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Speed</th>
                    <th>Endurance</th>
                    <th>Agility</th>
                    <th>Strength</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for result in test_results %}
                    <tr>
                        <td>{{ result.profile.full_name }}</td>
                        <td>{{ result.speed_score|default:"-" }}</td>
                        <td>{{ result.endurance_score|default:"-" }}</td>
                        <td>{{ result.agility_score|default:"-" }}</td>
                        <td>{{ result.strength_score|default:"-" }}</td>
                        <td>
                            <a href="{% url "download_radar_plot" result.profile.id %}"
                               class="btn btn-primary btn-sm">Download Radar Plot</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}
